In [1]:
import pandas as pd

In [7]:
travel_data = pd.read_csv('./nba_stats.csv',sep='|')
injury_data = pd.read_csv('./injuries_2010-2020.csv',sep=',')
injury_list = injury_data.to_dict(orient='records')

In [4]:
travel_data.head()

,Season,PlayerTeam,GP,W,L,Min,DistFeet,DistMiles,DistMilesOff,DistMilesDef,AvgSpeed,AvgSpeedOff,AvgSpeedDef
0,2020-21,Aaron Gordon,25.0,10.0,15.0,29.4,11236.0,2.13,1.19,0.94,4.10,4.50,3.68
1,2020-21,Aaron Holiday,42.0,19.0,23.0,17.6,7257.8,1.37,0.70,0.67,4.35,4.61,4.11
2,2020-21,Aaron Nesmith,23.0,12.0,11.0,15.2,6219.1,1.18,0.61,0.57,4.30,4.47,4.14
3,2020-21,Abdel Nader,24.0,16.0,8.0,14.8,6038.0,1.14,0.62,0.53,4.41,4.75,4.10
4,2020-21,Adam Mokoka,9.0,2.0,7.0,5.2,2104.7,0.40,0.20,0.20,4.29,4.49,4.10

In [37]:
def injury_counter(row):
    cnt = 0
    for l in injury_list:
        if l['Date'][0:4] == row['Season'][0:4] and str(row['PlayerTeam']).lower().strip() == str(l['Relinquished']).lower().strip():
            cnt+= 1 
    return cnt

In [38]:
travel_data['injuryCntYear'] = travel_data.apply(lambda x: injury_counter(x),axis=1)

In [39]:
travel_data.head()

,Season,PlayerTeam,GP,W,L,Min,DistFeet,DistMiles,DistMilesOff,DistMilesDef,AvgSpeed,AvgSpeedOff,AvgSpeedDef,injuryCntYear
0,2020-21,Aaron Gordon,25.0,10.0,15.0,29.4,11236.0,2.13,1.19,0.94,4.10,4.50,3.68,3
1,2020-21,Aaron Holiday,42.0,19.0,23.0,17.6,7257.8,1.37,0.70,0.67,4.35,4.61,4.11,0
2,2020-21,Aaron Nesmith,23.0,12.0,11.0,15.2,6219.1,1.18,0.61,0.57,4.30,4.47,4.14,0
3,2020-21,Abdel Nader,24.0,16.0,8.0,14.8,6038.0,1.14,0.62,0.53,4.41,4.75,4.10,3
4,2020-21,Adam Mokoka,9.0,2.0,7.0,5.2,2104.7,0.40,0.20,0.20,4.29,4.49,4.10,2

In [40]:
travel_data.to_csv('./travel_inj_stats.csv', encoding='utf-8',
              index=False, sep='|', header=True)